body {
  font-family: "Merriweather", serif;
  background-color: #6176514d;
  color: #2f3131;
}

.flex-container {
  display: flex;
}

header h1 {
  color: #111d0de1;
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  margin: 5vh auto 0 auto;
  line-height: 1.5;
}

header #animation {
  width: 10px;
  height: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
  position: relative;
  animation-name: comet;
  animation-duration: 4s;
}

@keyframes comet {
  0% {
    background-color: #111d0de1;
    left: 30%;
    bottom: 0px;
  }
  25% {
    background-color: #111d0dad;
    left: 70%;
    bottom: 0px;
  }
  50% {
    background-color: #111d0d36;
    left: 70%;
    bottom: 60px;
  }
  75% {
    background-color: #111d0dad;
    left: 30%;
    bottom: 60px;
  }
  100% {
    background-color: #111d0de1;
    left: 30%;
    bottom: 0px;
  }
}

header nav {
  justify-content: center;
  margin-top: 5vh;
}

header nav a {
  text-decoration: none;
  border: 2px solid #111d0de1;
  padding: 0.5% 2%;
  transition-duration: 0.4s;
}

header nav a:hover {
  background: #111d0de1;
  color: #c0d5ee;
}

header p {
  text-align: center;
  margin: 2vh 5%;
  line-height: 1.5;
}

header img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 2vh;
}

.projects {
  width: 100%;
}

.projects .p-child {
  flex-shrink: 1;
}

.projects div {
  margin: 1vh 0.5vw;
}

.projects div img {
  max-width: 100%;
  height: 100vh;
}

.projects #project-text {
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
}

.projects #project-text div {
  padding: 2%;
  line-height: 1.2;
}

.projects #project-text div h2 {
  font-size: 20px;
}

.projects #project-text div h3 {
  font-size: 12px;
}

.projects #project-text div p {
  margin: 3% 0;
}

footer {
  background: #617651;
  padding: 1%;
}

footer button {
  font-family: "Merriweather", serif;
  font-weight: bold;
  border: 2px solid #323d2a;
  color: #323d2a;
  background: #617651;
  text-align: center;
  padding: 1%;
  display: block;
  margin: 1% auto;
  transition-duration: 0.4s;
}

footer button:hover {
  background: #111d0de1;
  border: #111d0de1;
  color: #617651;
}

footer nav {
  justify-content: center;
}

footer nav a {
  margin: 0 1%;
}

footer nav a img {
  width: 2em;
}
